<h1>Your Cart</h1>

<br>

<div class="container">
    
<% if @cart.empty? %>

    <div class="alert alert-info" role="alert"><b>Cart is empty.</b></div>
    
<% else %>

<% total = 0 %>

    <div class="panel panel-default">
        <div class="panel-body"><%= link_to(('<span class="glyphicon glyphicon-remove"></span> Remove all from Cart').html_safe, cart_clear_path, class: "btn btn-danger") %></div>
    </div>

    <table class="table">
        
        <thead>
            <tr>
                <th>Book title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            
            <% @cart.each do |id,quantity | %>
            
                <% book = Book.find_by_id(id) %>
                
                <tr>
                    <td><%= link_to book.title, book %></td>
                    <td><%= number_to_currency(book.price, :unit => ('<span class="glyphicon glyphicon-eur"></span> ').html_safe) %></td>
                    <td><%= quantity %></td>
                    <td><%= number_to_currency(quantity * book.price, :unit => ('<span class="glyphicon glyphicon-eur"></span> ').html_safe) %></td>
                    <td>
                        <a href="/cart/<%= book.id %>" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="/cart/remove/<%= book.id %>" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus"></span></a>
                    </td>
                </tr>
                
                <% total += quantity * book.price %>
                
            <% end %>
            
            <tr class="well well-lg">
                <td colspan="3"><b>Total:</b> </td>
                <td class="lead"><%= number_to_currency(total, :unit => ('<span class="glyphicon glyphicon-eur"></span> ').html_safe) %></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    
    </table>
    
    <div class="panel panel-default">
        <div class="panel-body"><%= link_to(('<span class="glyphicon glyphicon-ok"></span> <b>Checkout - Pay</b>').html_safe, new_charge_path, class: "btn btn-success") %></div>
    </div>

<% end %>

    <div class="panel panel-default">
        <div class="panel-body"><%= link_to(('<span class="glyphicon glyphicon-chevron-left"></span> Continue shopping').html_safe, { :controller => :books} , class: "btn btn-default") %></div>
    </div>

</div>