<h1>About</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <br>
        
        <p>Welcome to our Bookstore! Our aim is to provide you with an enjoyable online experience where you can browse and purchase books. Whether you
        are searching for fiction, children's or poetry, we are confident that you will find what you are after.</p>
        
        <br>
        
        <p>We strive to maintain a stock of the latest bestsellers, as well as classics and special interest books. These include, but are not limited to:</p>
        
        <ul>
            <li>School textbooks</li>
            <li>Graphic novels</li>
            <li>Children's storybooks</li>
            <li>Photography books</li>
        </ul>
        
        <p>Happy shopping!</p>
        
        <hr>
        
        <p><b>-Bookstore Team</b></p>
    </div>
</div>
