<div class="jumbotron">
  
  <h1>Book Store NCI Project!</h1>
  
  <h3>This site is a college project!</h3>
  
  <%= image_tag "book_home.jpg", size: "220x220" %>

  <% if current_user %>
  
    <h4>Welcome <%= current_user.full_name %>!</h4>
    
  <% else %>
  
    <h4>Welcome Guest!</h4>
  
  <% end %>
  <p>
      <% if current_user %>
      
        <%= link_to 'Go to Buy Books', books_path, class: "btn btn-info btn-lg" %>
      
      <% else %>
    
        <%= link_to 'Sign Up / Login to Buy Books', new_user_session_path, class: "btn btn-info btn-lg" %>
    
      <% end %>
  </p>
</div>