<h1>Book Store NCI Project Privacy</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <br>
        
        <p><b>What information do we collect?</b></p>
        
        <br>
        
        <p>We collect information from you when you register as a user on the our site. When registering, you will be asked to provide your name and email. 
        Only registered users will be able to make purchases. Alternatively, you may browse books anonymously. Card details will be taken when making payments.</p>
        
        <br>
        
        <p><b>Why do we collect your information?</b></p>
        <ul>
            <li>To personalise your experience</li>
            <li>To improve our website</li>
            <li>To improve customer service</li>
            <li>To process transactions</li>
        </ul>
    </div>
</div>