<h1>Book Store NCI Project Terms & Conditions</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <br>
        
        <p><b>Please read Terms & Conditions carefully.</b></p>
        
        <br>
        
        <p>By using our site it is understood that you agree with the Terms & conditons detailed here. 
        We reserve the right to change and update these Terms & Conditions as we see fit.<b>Users of this site agree not to:</b></p>
        <ul>
            <li>Copy and publish any text or images for commercial use</li>
            <li>Fraudulently use any aspect of the website</li>
        </ul>
    </div>
</div>