<%- model_class = Book -%>

<div class="page-header">
  
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  
</div>

<%= form_tag(books_path, :method => "get", id: "search-form") do %>

  <span class="glyphicon glyphicon-search"></span>&nbsp;<%= text_field_tag :search, params[:search], placeholder: "Search by title" %>
  <%= submit_tag "Search", class: "btn btn-default" %>
  
<% end %>

<table class="table table-striped">
  
  <thead>
    
    <tr>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      
      <% if current_user && current_user.admin? %>
      
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        
      <% end %>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    
  </thead>
  
  <tbody>
    
    <% @books.each do |book| %>
    
      <tr>
        <td><%= image_tag book.picture.url, size: "130x130" %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.category %></td>
        <td><%= book.price %></td>
        
        <% if current_user && current_user.admin? %>
        
          <td><%=l book.created_at %></td>
          
        <% end %>
        
        <td>
          <% if current_user && current_user.admin? %>
          
            <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_book_path(book), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        book_path(book),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
                        
          <% elsif current_user %>
          
            <p><a href="/cart/<%= book.id %>"><span class="glyphicon glyphicon-plus"></span> Add to cart</a></p>
          
          <% end %>
          
        </td>
      </tr>
      
    <% end %>
    
  </tbody>
  
</table>

<% if current_user && current_user.admin? %>

  <%= link_to t('.new', :default => t("helpers.links.new")), new_book_path, :class => 'btn btn-primary' %>
  
<% end %>
