// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.badge-error {
    background-color: rgb(230, 0, 0) !important;
}
.badge-error:hover {
    background-color: rgb(210, 0, 0) !important;
}

footer, .footer {
    margin-top: 30px;
    padding-top: 8px;
    border-top: 1px solid #EEE;
}

footer small, .footer small {
    float: left;
}

footer ul, .footer ul {
    float: left;
    list-style: none;
}