<p><%= t('.greeting', recipient: @resource.email, default: "Welcome #{@resource.email}!") %></p>

<p><%= t('.instruction', default: 'Please follow the link bellow to confirm your email:') %></p>

<p><%= link_to t('.action', default: 'Confirm my account'),
         confirmation_url(@resource, confirmation_token: @token, locale: I18n.locale) %></p>
