<%= form_tag charges_path do %>

<h1>Checkout</h1>
<h4>Please note this page is not a real payment page. It is part of a college project.</h4>

    <div class="well well-lg">

        <article>
            
            <label class="amount">
                <span>Amount:&nbsp;<span class="lead">
                    <%= number_to_currency(@amountToDisplay, :unit => ('<span class="glyphicon glyphicon-eur"></span> ').html_safe) %></span>
                </span>
            </label>
        
        </article>
    
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Book purchase"
              data-amount="<%= @amount %>"
              data-locale="auto"></script>
          
    </div>
          
    <div class="panel panel-default">
        <div class="panel-body"><%= link_to(('<span class="glyphicon glyphicon-chevron-left"> Back to your Cart').html_safe, cart_path, class: "btn btn-default") %></div>
    </div>
          
<% end %>
