<div class="container">
  <footer class="footer">
      <small>
          Copyright &copy; 2018 NCI Project
      </small>
      <nav>
          <ul>
              <li><%= link_to 'Terms & Conditions', terms_and_conditions_path %></li>
              <li><%= link_to 'Privacy', privacy_path %></li>
          </ul>
      </nav>
  </footer>
</div>